.input {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  border-radius: 2px;
  border: 1px solid #9abbce;
  transition-duration: 300ms;
}
.label:hover {
  background-color: #f1fcff;
  cursor: pointer;
}
.label {
  height: 100%;
  position: relative;
  color: #4a4a4a;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 0 10px 50px;
}
input:checked {
  border-color: #2196f3;
}
.label svg {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  opacity: 0;
  transition-duration: 300ms;
}
input:checked ~ svg {
  opacity: 1;
}
