.Offers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.addTickets {
  background-color: #2196f3;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 15px 0;
  margin-bottom: 50px;
}
